<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Application</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class=" overall">
  <nav class="navbar fixed-top container-fluid navbar-expand-lg navbar-light bg-dark" >
    <a class="navbar-brand " href="#"><b style="color: #FEB921;">fOOdie</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light " href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Username
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Orders</a>
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Vouchers</a>
            <a class="dropdown-item" href="#">Payment Method</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0"  type="submit">Search</button>
      </form>
    </div>
  </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="container-md">
    <div class="card-deck">
        <div class="card">
          <a href="burger1.html"><img src="burger1.jpg "  class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title ">Burger Shack.</h5>
            <p class="card-text">Free Delivery.<small class="text-muted float-right"><span class="fa fa-star"></span><b> 4.1</b>/5 (1k+)</small></p>
            
          </div>
        </div>
        <div class="card">
          <a href="burgerlab.html"><img src="burger3.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Burger Lab</h5>
            <p class="card-text"><b>Rs.50</b> Delivery Fee.<small class="text-muted float-right"><span class="fa fa-star"></span><b> 4.0</b>/5 (5k+)</small></p>
          </div>
        </div>
        <div class="card">
          <a href="burgeroclock.html"><img src="burger2.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Burger O' Clock</h5>
            <p class="card-text"><b>Rs.75</b> Delivery Fee.<small class="text-muted float-right"><span class="fa fa-star"></span><b> 4.2</b>/5 (4k+)</small></p>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="card-deck">
        <div class="card">
          <a href="broadway.html"><img src="pizza1.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Broadway Pizza.</h5>
            <p class="card-text"><b>Rs.10</b> Delivery Fee.<small class="text-muted float-right"><span class="fa fa-star"></span><b> 4.1</b>/5 (6k+)</small></p>
            
          </div>
        </div>
        <div class="card">
          <a href="pizzapoint.html"><img src="pizza4.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Pizza Point</h5>
            <p class="card-text"><b>Rs.50</b> Delivery Fee.<small class="text-muted float-right"><span class="fa fa-star"></span><b> 3.8</b>/5 (3k+)</small></p>
          </div>
        </div>
        <div class="card">
          <a href="california.html"><img src="pizza3.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">California Pizza</h5>
            <p class="card-text"><b>Rs.75</b> Delivery Fee.<small class="text-muted float-right"><span class="fa fa-star"></span><b> 4.2</b>/5 (1k+)</small></p>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="card-deck">
        <div class="card">
          <a href="delizia.html"><img src="desserts1.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Delizia.</h5>
            <p class="card-text"><b>Rs.20</b> Delivery Fee.<small class="text-muted float-right"><span class="fa fa-star"></span><b> 4.5</b>/5 (2k+)</small></p>
            
          </div>
        </div>
        <div class="card">
          <a href="hobnob.html"><img src="desserts2.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Hobnob.</h5>
            <p class="card-text">Free Delivery<small class="text-muted float-right"><span class="fa fa-star"></span><b> 3.8</b>/5 (4k+)</small></p>
          </div>
        </div>
        <div class="card">
          <a href="kababjees.html"><img src="desserts3.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Kababjees Bakers</h5>
            <p class="card-text"><b>Rs.25</b> Delivery Fee.<small class="text-muted float-right"><span class="fa fa-star"></span><b> 4.4</b>/5 (5k+)</small></p>
          </div>
        </div>
      </div>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    <script src="app.js"></script>
</body>
</html>