<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliverer Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="overall container-md">
    <nav class="navbar fixed-top container-fluid navbar-expand-lg navbar-light bg-dark" >
        <a class="navbar-brand " href="#"><b style="color: #FEB921;">fOOdie</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav float-right mr-auto">
            <li class="nav-item active ">
              <a class="nav-link text-light " href="dashboard.html">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light " href="profile.html">Profile</a> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-light " href="orders.html">My Orders <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-light " href="queued.html">Queued Orders <span class="sr-only">(current)</span></a>
              </li>
          </ul>
          
        </div>
      </nav>
      <div class="alert alert-warning" style="margin-top: 110px;" role="alert">
        Total Assigned Orders: <span class="float-right"><b>06</b></span>
      </div>
      <div class="alert alert-danger" style="margin-top: 20px;" role="alert">
        Total Delivered Orders: <span class="float-right"><b>03</b></span>
      </div>
      <br>
      <br>
      <br>
      <div class="card-deck">
        <div class="card shadow-lg  rounded">
    
          <div class="card-body ">
            <h5 class="card-title">Delivery status</h5>
            <br>
            <span class=" mx-auto alert alert-danger py-2" role="alert"> Delivered</span></h5>
            <br><br>
            <p class="card-text"> 
              <b>Order Id:</b> YYM645654638 <br>
              <b>Order Type:</b> Delivery <br>
              <b>Date:</b> 22-6-202 22:11 <br>
            </p>
          </div>
          <div class="card-footer">
            <b>Bill Amount:</b> <span class="float-right"> Rs.1490.
          </div>
        </div>
        <div class="card shadow-lg  rounded">
    
          <div class="card-body ">
            <h5 class="card-title">Delivery status</h5>
            <br>
            <span class=" mx-auto alert alert-danger py-2" role="alert"> Delivered</span></h5>
            <br><br>
            <p class="card-text"> 
              <b>Order Id:</b> YYM73612846222 <br>
              <b>Order Type:</b> Delivery <br>
              <b>Date:</b> 05-06-2010 02:45 <br>
            </p>
          </div>
          <div class="card-footer">
            <b>Bill Amount:</b> <span class="float-right"> Rs.350.
          </div>
        </div>
        <div class="card shadow-lg  rounded">
    
          <div class="card-body ">
            <h5 class="card-title">Delivery status</h5>
            <br>
            <span class=" mx-auto alert alert-warning py-2" role="alert"> Cancelled</span></h5>
            <br><br>
            <p class="card-text"> 
              <b>Order Id:</b> YYM7874878409 <br>
              <b>Order Type:</b> Delivery <br>
              <b>Date:</b>09-03-2020 05:00 <br>
            </p>
          </div>
          <div class="card-footer">
            <b>Bill Amount:</b> <span class="float-right"> Rs.5550.
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br><div class="card-deck">
        
        <div class="card shadow-lg  rounded">
    
          <div class="card-body ">
            <h5 class="card-title">Delivery status</h5>
            <br>
            <span class=" mx-auto alert alert-danger py-2" role="alert"> Delivered</span></h5>
            <br><br>
            <p class="card-text"> 
              <b>Order Id:</b> YYM89374682444 <br>
              <b>Order Type:</b> Delivery <br>
              <b>Date:</b> 23-1-2020 07:11 <br>
            </p>
          </div>
          <div class="card-footer">
            <b>Bill Amount:</b> <span class="float-right"> Rs.350.
          </div>
        </div>
        <div class="card shadow-lg  rounded">
    
          <div class="card-body ">
            <h5 class="card-title">Delivery status</h5>
            <br>
            <span class=" mx-auto alert alert-warning py-2" role="alert"> Cancelled</span></h5>
            <br><br>
            <p class="card-text"> 
              <b>Order Id:</b> YYM83756492019 <br>
              <b>Order Type:</b> Delivery <br>
              <b>Date:</b>24-8-2020 21:30 <br>
            </p>
          </div>
          <div class="card-footer">
            <b>Bill Amount:</b> <span class="float-right"> Rs.2500.
          </div>
        </div>
        <div class="card shadow-lg  rounded">
    
          <div class="card-body ">
            <h5 class="card-title">Delivery status</h5>
            <br>
            <span class=" mx-auto alert alert-warning py-2" role="alert"> Cancelled</span></h5>
            <br><br>
            <p class="card-text"> 
              <b>Order Id:</b> YYM4786739833 <br>
              <b>Order Type:</b> Delivery <br>
              <b>Date:</b> 05-05-2020 20:40 <br>
            </p>
          </div>
          <div class="card-footer">
            <b>Bill Amount:</b> <span class="float-right"> Rs.1800.
          </div>
        </div>
       </div>

    <script src="app.js"></script>
</body>
</html>