.overall{
    background-color: #FEB921;
}
.dark-brown{
    color: #722910;
}
img:hover{
    cursor: pointer;
}
body{
  background-image: url("https://www.transparentpng.com/thumb/food/X1SylL-food-logo-high-quality-png.png" );
  width: 100px;
  height:100px;
  background-attachment: fixed;
  background-position: 50% 50%;
 background-repeat: no-repeat;
    background-color: #FEB921;
}
img{
    opacity: 0.2;
}