{% extends "user/layout.html"%}
{% load static %}
{% block content %}
<section class="reg-log-sec">
    <div class="register-login-div">
        <h2>Register</h2>
        <form method="post" action="{% url 'register_deliverer' %}">
            
            {% csrf_token %}
        
            <label>Name</label>
            <input type="text" name="deliverer_name" required>
            <label>Email</label>
            <input type="email" name="email" required>
            <label>Vehicle Number</label>
            <input type="text" name="vehicle_number" required>
            <label>Phone number</label>
            <input type="text" name="phone_number" required>
            <label>Password</label>
            <input type="password" name="password" required>
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" required>
            <button type="submit" id="register-button">Register</button>
        </form>
    </div>
</section>
<!--<section class="reg-loc-sec">
    <div class="register-login-div">
        <h2>Login</h2>
        <form method="post" action="{% url 'login_user' %}">
            
            {% csrf_token %}
            <p>I will make authentication of Resturaunt by email. for now work with username(Resturaunt name)</p>
            <label>Username</label>
            <input type="text" name="username">
            <label>Password</label>
            <input type="password" name="password">
            <button type="submit"  id="login-button">Log in</button>
        </form>
    </div>
</section> -->

{% endblock %}