{% extends "seller/layout.html"%}
{% load static %}
{% block content %}
<h1>Update Dish # {{ dish_id }} here</h1>
<form method="post" action="{% url 'itemupdated' dish_id=dish_id %}" enctype="multipart/form-data">

    {% csrf_token %}

    <label>Name</label>
    <input type=" text" name="dish_name" id="dish_name" value="{{ name }}" required>
    <label>Summary</label>
    <input type="text" name="dish_summary" id="dish_summary" value="{{ summary }}" required>
    <label>Nationality</label>
    <input type="text" name="dish_nationality" id="dish_nationality" value="{{ nationality }}" required>
    <label>No of serving</label>
    <input type="number" name="dish_no_of_serving" id="dish_no_of_serving" value="{{ no_of_serving }}" required>
    {% if dish.picture %}
    <label>Picture</label>
    <img src="{{ dish.picture.url }}" width="240">
    {% endif %}

    {{ form.as_p }}

    <!-- {% if img_obj %}
    <h3>Succesfully uploaded : {{img_obj.title}}</h3>
    <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    {% endif %}  -->
    <!-- <input type="text" name="dish_picture" id="dish_picture" value="{{ picture }}" required>-->
    <label>Category</label>
    <input type="text" name="dish_category" id="dish_category" value="{{ category }}" required>

    <p> Glutten-free </p>

    <label> Yes </label>
    {% if glutten_free == "Yes" %}
    <input type="radio" id="dish_glutten_free_yes" name="dish_glutten_free" value="Yes" checked="True">
    {% elif glutten_free != "Yes" %}
    <input type="radio" id="dish_glutten_free_yes" name="dish_glutten_free" value="Yes">
    {% endif %}

    <label> No </label>
    {% if glutten_free == "No" %}
    <input type="radio" id="dish_glutten_free_no" name="dish_glutten_free" value="No" checked="True">
    {% elif glutten_free != "No" %}
    <input type="radio" id="dish_glutten_free_no" name="dish_glutten_free" value="No">
    {% endif %}

    <p> Customizable </p>

    <label> Yes </label>
    {% if customizable == "Yes" %}
    <input type="radio" id="dish_customizable_yes" name="dish_customizable" value="Yes" checked="True">
    {% elif customizable != "Yes" %}
    <input type="radio" id="dish_customizable_yes" name="dish_customizable" value="Yes">
    {% endif %}

    <label> No </label>
    {% if customizable == "No" %}
    <input type="radio" id="dish_customizable_no" name="dish_customizable" value="No" checked="True">
    {% elif customizable != "No" %}
    <input type="radio" id="dish_gcustomizable_no" name="dish_customizable" value="No">
    {% endif %}

    <button type="submit" id="dish-update-button">Update</button>
</form>

{% endblock %}